{{ header }}

  
 
 <div id="content" class="{{ class }}">
	
	
	<div class="container">

		<div class="block_slide">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 slide-left">
					 {{ content_home1 }}
				</div>
	<div class="col-lg-3 col-md-3 col-sm-3 slide-right" style = "margin-top: 40px;">
		<div class="banner-info banner-info1" style = "border: 2px solid transparent;background: #f2f2f2;text-align: center;">
			<img src="image/catalog/cms/home9/icon1.png" alt="Image Client">	
			<div class="banner-cont">
				<a href="#">3 DAYS RETURN</a>
				<p>Money Back Guarantee</p>
			</div>
		</div>
</br>

		<div class="banner-info banner-info2" style = "border: 2px solid transparent;background: #f2f2f2;text-align: center;">
			<div class="inner">
				<img src="image/catalog/cms/home9/icon2.png" alt="Image Client">
				<div class="banner-cont">
					<a href="#">FREE SHIPPING</a>
					<p>On All Orders Over Rs. 1000</p>
				</div>
			</div>
		</div>
</br>

		<div class="banner-info banner-info3" style = "border: 2px solid transparent;background: #f2f2f2;text-align: center;">
			<div class="inner">
				<img src="image/catalog/cms/home9/icon3.png" alt="Image Client">
				<div class="banner-cont">
					<a href="#">LOWEST PRICE</a>
					<p>Guarantee</p>
				</div>
			</div>
		</div>

	</div>	
</div>				
			</div>
		</div>
		{{ content_top }}
		{{ content_bottom }}
	</div>
	
</div>  

{{ footer }}
